@using System.Data;
@{
    ViewBag.Title = "Beneficiary Details & Follow-up Details";
    DataTable dt = new DataTable();
    if (Model != null)
    {
        dt = Model;
    }
}

@*Started Accordion View*@
<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Flush Accordion</h6>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                            aria-expanded="true" aria-controls="flush-collapseOne">
                        Beneficiary Details
                    </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id="div-View"></div>
                    </div>
                </div>
            </div>
            @{
                    int Index = 1;
                    foreach (DataRow dr in dt.Rows)
                    {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading@(Index)">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapse@(Index)"
                                    aria-expanded="false" aria-controls="flush-collapse@(Index)">
                               Follow-up View @dr["RowNo"].ToString()
                            </button>
                        </h2>
                        <div id="flush-collapse@(Index)" class="accordion-collapse collapse"
                             aria-labelledby="flush-heading@(Index)" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Sea diam dolore aliquyam aliquyam diam et consetetur et. Accusam amet no invidunt invidunt et consetetur, magna ut nonumy kasd erat tempor dolor et. Diam magna dolor sed amet duo dolores magna vero. Amet sit sadipscing ea diam clita lorem sit. Vero et et et tempor diam. Ipsum eirmod sit.
                            </div>
                        </div>
                    </div>
                    Index++;
                }

            }

        </div>
    </div>
</div>
@*End Accordion View*@