@using FP.Manager
@{
    var u = MvcApplication.CUser;
}
<!-- Sidebar Start -->
<style>
    .fp-logo {
        width: 70px;
        margin-right: 10px;
    }
</style>
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/" class="navbar-brand mx-4 mb-3">
            <h6 class="text-primary">
                <img src="~/Content/img/fp-logo.png" alt="Logo" class="fp-logo" />
                खुशहाल परिवार
            </h6>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/Content/img/user.png" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">
                    @{ if (User.Identity.IsAuthenticated)
                        {
                            @u.Name
                        }
                    }
                </h6>
                @*<span>@u.Role</span>*@
            </div>
        </div>
        @if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.Admin) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.State))
        {
            <div class="navbar-nav w-100">
                <a href="/" class="nav-item nav-link actives"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives2" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Beneficiary</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Beneficiary/Beneficiary" class="dropdown-item">Add Beneficiary</a>
                        <a href="~/Beneficiary/BFYList" class="dropdown-item">Beneficiary List</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives3" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Follow UP</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Beneficiary/BFYFollow" class="dropdown-item">Follow UP</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives3" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Plan</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Plan/CreatePlan" class="dropdown-item">Add Plan</a>
                        <a href="~/Plan/PlanList" class="dropdown-item">Planning List</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives4" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Account</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Account/Register" class="dropdown-item"><i class="fa fa-add"></i>Registration</a>
                        <a href="~/Master/UserDetaillist" class="dropdown-item"><i class="fa fa-add"></i>User List</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives5" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Report</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Report/PrapatraOne" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-1 List</a>
                        <a href="~/Report/LetterTwo" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-2 List</a>
                        <a href="~/Report/AchBFYList" class="dropdown-item"><i class="fa fa-add"></i>Achievement Details</a>
                    </div>
                </div>
                <a href="~/Master/VillMaster" class="nav-item nav-link actives6"><i class="fa fa-keyboard me-2"></i>Village Org</a>
                @*<a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                    <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>*@
                @*<div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>*@
            </div>
        }
        else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.Viewer))
        {
            <div class="navbar-nav w-100">
                <a href="/" class="nav-item nav-link actives"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives2" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Beneficiary</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Beneficiary/BFYList" class="dropdown-item">Beneficiary List</a>
                    </div>
                </div>
                <a href="~/Master/UserDetaillist" class="nav-item nav-link actives3"><i class="fa fa-list"></i>User List</a>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Report</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Report/PrapatraOne" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-1 List</a>
                        <a href="~/Report/LetterTwo" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-2 List</a>
                        <a href="~/Report/AchBFYList" class="dropdown-item"><i class="fa fa-add"></i>Achievement Details</a>
                    </div>
                </div>
            </div>
        }
        else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CNRP) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CM))
        {
            <div class="navbar-nav w-100">
                <a href="/" class="nav-item nav-link actives"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives2" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Beneficiary</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Beneficiary/Beneficiary" class="dropdown-item">Add Beneficiary</a>
                        <a href="~/Beneficiary/BFYList" class="dropdown-item">Beneficiary List</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives3" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Follow UP</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Beneficiary/BFYFollow" class="dropdown-item">Follow UP</a>
                    </div>
                </div>
                @if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CNRP))
                {
                    <div class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle actives3" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Plan</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="~/Plan/CreatePlan" class="dropdown-item"><i class="fa fa-plus"></i>Add Plan</a>
                            <a href="~/Plan/PlanList" class="dropdown-item"><i class="fa fa-list"></i>Planning List</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle actives4" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Account</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="~/Account/Register" class="dropdown-item"><i class="fa fa-plus"></i>Registration</a>
                            <a href="~/Master/UserDetaillist" class="dropdown-item"><i class="fa fa-list"></i>User List</a>
                        </div>
                    </div>

                    <a href="~/Master/VillMaster" class="nav-item nav-link actives6"><i class="fa fa-database"></i>Village Organization</a>
                }
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives5" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Report</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Report/PrapatraOne" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-1 List</a>
                        <a href="~/Report/LetterTwo" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-2 List</a>
                        <a href="~/Report/AchBFYList" class="dropdown-item"><i class="fa fa-add"></i>Achievement Details</a>
                    </div>
                </div>
            </div>
        }
        else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.BPMU) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.BPIU) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.District))
        {
            <div class="navbar-nav w-100">
                <a href="/" class="nav-item nav-link actives"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives2" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Beneficiary</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Beneficiary/Beneficiary" class="dropdown-item"><i class="fa fa-plus"></i>Add Beneficiary</a>
                        <a href="~/Beneficiary/BFYList" class="dropdown-item"><i class="fa fa-list"></i>Beneficiary List</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives4" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Account</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Account/Register" class="dropdown-item"><i class="fa fa-plus"></i>Registration</a>
                        <a href="~/Master/UserDetaillist" class="dropdown-item"><i class="fa fa-list"></i>User List</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="javascript:void(0)" class="nav-link dropdown-toggle actives5" data-bs-toggle="dropdown"><i class="fa fa-keyboard me-2"></i>Report</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/Report/PrapatraOne" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-1 List</a>
                        <a href="~/Report/LetterTwo" class="dropdown-item"><i class="fa fa-add"></i>Prapatra-2 List</a>
                        <a href="~/Report/AchBFYList" class="dropdown-item"><i class="fa fa-add"></i>Achievement Detail</a>
                    </div>
                </div>
            </div>
        }

    </nav>
</div>
<!-- Sidebar End -->
