
obj/Debug/TempPE/Models.DB_Model.Designer.cs.dll
obj/Debug/TempPE/Models.DB_Model.Designer.cs.dll
obj/Debug/TempPE/Models.DB_Model.Designer.cs.dll
obj/Debug/FP.pdb
obj/Debug/FP.dll
obj/Debug/FP.dll
obj/Debug/FP.csproj.FileListAbsolute.txt
obj/Debug/FP.csproj.CoreCompileInputs.cache
obj/Debug/FP.csproj.AssemblyReference.cache
obj/Debug/FP.csproj.AssemblyReference.cache
obj/Debug/edmxResourcesToEmbed/Models/DB_Model.ssdl
obj/Debug/edmxResourcesToEmbed/Models/DB_Model.msl
*.config
.vs/FP/v17/.suo
/.vs/FP/FileContentIndex
/.vs/FP/config/applicationhost.config
/bin/FP.dll
/bin/FP.pdb
/obj/Debug/edmxResourcesToEmbed/Models/DB_Model.csdl
/obj/Debug/edmxResourcesToEmbed/Models/DB_Model.msl
/obj/Debug/edmxResourcesToEmbed/Models/DB_Model.ssdl
/obj/Debug/FP.pdb
/obj/Debug/FP.dll
/obj/Debug/FP.csproj.FileListAbsolute.txt
/obj/Debug/FP.csproj.CoreCompileInputs.cache
/obj/Debug/FP.csproj.AssemblyReference.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/TempPE/Models.DB_Model.Designer.cs.dll
/.vs/FP/v17/.suo
/.gitignore
*.cache
*.cache
