@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="cptmethod" style="height:400px; width:600px">

        </div>

    </div>
</div>
@section Scripts {
    @*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>*@
    <script>
        $(document).ready(function () {
            Bindload();
        });
        function Bindload() {
            var FilterModel = {}; var model = [];
            FilterModel.DistrictId = "";
            FilterModel.BlockId = "";
            FilterModel.PanchayatId = "";
            FilterModel.VoId = "";
            model.push(FilterModel);
            $.ajax({
                url: document.baseURI + "/Home/GetIndex",
                type: "Post",
                //data: formData,
                //cache: false,
                //contentType: false,
                //processData: false,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                global: false,
                async: false,
                dataType: "json",
                success: function (resp) {
                    if (resp.IsSuccess) {
                        debugger;
                        // toastr.success("Success", resp.Message);
                        var resdata = JSON.parse(resp.Data);
                        var resD = JSON.parse(resdata);
                        var Datalist = [], DistName = [],TM = [],PM = [],NM = [],OM = [];
                        for (var i = 0; i < resD.length; i++) {

                        }

                        Highcharts.chart('cptmethod', {

                            title: {
                                text: 'Contraceptive Method',
                                align: 'left'
                            },

                            subtitle: {
                                // text: 'By Job Category. Source: <a href="https://irecusa.org/programs/solar-jobs-census/" target="_blank">IREC</a>.',
                                align: 'left'
                            },

                            yAxis: {
                                title: {
                                    text: 'Number of Employees'
                                }
                            },

                            xAxis: {
                                accessibility: {
                                    rangeDescription: 'Range: 2010 to 2020'
                                }
                            },

                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                            },

                            plotOptions: {
                                series: {
                                    label: {
                                        connectorAllowed: false
                                    },
                                    pointStart: 2010
                                }
                            },

                            series: [{
                                name: 'Installation & Developers',
                                data: [43934, 48656, 65165, 81827, 112143, 142383,
                                    171533, 165174, 155157, 161454, 154610]
                            }, {
                                name: 'Manufacturing',
                                data: [24916, 37941, 29742, 29851, 32490, 30282,
                                    38121, 36885, 33726, 34243, 31050]
                            }, {
                                name: 'Sales & Distribution',
                                data: [11744, 30000, 16005, 19771, 20185, 24377,
                                    32147, 30912, 29243, 29213, 25663]
                            }, {
                                name: 'Operations & Maintenance',
                                data: [null, null, null, null, null, null, null,
                                    null, 11164, 11218, 10077]
                            }, {
                                name: 'Other',
                                data: [21908, 5548, 8105, 11248, 8989, 11816, 18274,
                                    17300, 13053, 11906, 10073]
                            }],

                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            }

                        });

                    }
                    else {
                        // toastr.error("Error", resp.Message);
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //toastr.error("Error", errormsg);
                    //jQuery.event.trigger("ajaxStop");
                    return false;
                }
            });
        }

    </script>
}
