@using System.Data
@using FP.Models
@{
    var list = (List<TBL_Beneficiary>)Model;
}
<style>
    table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
        padding-right: 0px !important;
    }

    .row-disabled {
        background-color: rgba(236, 240, 241, 0.5);
        pointer-events: none;
        width: 100%;
    }
</style>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tblbfy">
        <thead class="text-center">
            <tr>
                <th>
                    Check All <br />
                    <input type="checkbox" class="allChecked" name="selectAll" id="selectAll" value="all" onchange="CheckUnchecked(this)" />
                </th>
                <th>Srno.</th>
                <th>Beneficiary</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (list.Count > 0)
                {
                    int srno = 1;
                    foreach (var item in list)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" class="check" name="check" id="check@(srno)" onchange="CheckUnchecked(this)"
                                       data-bfyid="@item.Beneficiary_Id_pk" />
                            </td>
                            <td class="text-center">@(srno++)</td>

                            <td class="text-left">@item.Q2</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="15" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>

